# Ignore all logfiles and tempfiles.
/logs/*
/images/*
/cache/*
/backup/*
/tmp/*

# User folder.
/user/plugins/*
/user/data/*
/user/themes/quark/*

# Ignore Grav internal folders that are only changed when Grav is updated.
/assets/*
/backup/*
/bin/*
/cache/*
/images/*
/logs/*
/system/*
/tmp/*
/webserver-configs/*
/vendor/*
/.phan/*
/user/themes/quark/*
.DS_Store
.htaccess
composer.*
index.php
.phan/config.php
.github/FUNDING.yml
user/languages/themes/quark/*
user/languages/themes/guldberget_quark/css-compiled/*
