<section id="footer" class="section bg-gray">
  	<section class="container {{ grid_size }}">
        <div id="fb-root"></div>
        <p>
            <div class="fb-page" data-tabs="" data-width="380" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                <blockquote>HSB BRF Guldberget i Göteborg</blockquote>
            </div>
        </p>
	</section>
</section>