{% extends 'partials/base.html.twig' %}

{% block content %}
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 60%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 30%;">
    </colgroup>
    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
	<tbody>
	  <tr>
	    <td>{{ page.content }}</td>
	    <td></td>
	    {% set random_image = random(page.media.images) %}
	    <td> {{ random_image.html }} </td>
	  </tr>
	</tbody>
</table>
{% endblock %}
