<section id="footer" class="section bg-gray">
  <section class="container {{ grid_size }}">
    {% include 'partials/simplesearch_searchbox.html.twig' %}</p>
<p><a href="{{home_url}}">HSB Brf Guldberget</a> • <a href="{{page.find('/villkor').url}}"> Villkor</a> • <a href="{{page.find('/gdpr').url}}"> Information om behandling av personuppgifter, cookies m m </a>
    </section>
</section>
